doctype html
html(lang="en")
  head
    title= title
    link(href="/stylesheets/app.css" rel="stylesheet" type="text/css")
  body
    h1= title
    p= description
    script(src="/javascripts/app.js")